#cv
{
	font-family: arial;
	width: 900px;
	display: flex;
	flex-wrap: nowrap;
	border: 1px;
	border-style: solid;
	border-color: grey;
	height: 100vh;
}

#gauche
{
    margin-right: 3%;
	background:#feca07;
	display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
}

.photo
{
	text-align: center;
}

.img
{
	border-radius: 100%;
	width: 50%;
	margin-top: 15px;
	border: 1px black solid;
	box-shadow: 0px 0px 2px black;
}

.titregauche
{
	text-align: center;
	color: #feca07;
	background-color: #404040;
	display: block;
	line-height: 30px;
	font-size: 18px;
}

#contenu
{
	height:100%;
	display: flex;
	flex-direction: column;
}

.name
{
	color: orange;
	margin-left: 25px;
}

.contact
{
	font-size: 11px;
	margin-left: 25px;
}

.aboutme
{
	font-size: 11px;
	margin-left: 25px;
}

#loisirs
{
	width: 100%;
	position: relative;
	bottom: 0px;
}

.icon
{
	height: 10px;
}

h1
{
	font-weight: normal;
}

h2
{
	font-size: 20px;
}

.section
{
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
}

.line
{
	background-color: #feca07;
	height: 1px;
	color: white;
}

.date
{
	font-size: 12px;
}

#loisirs section {
    display: flex;
    justify-content: space-between;
}