#cv
{
	font-family: arial;
	width: 900px;
	display: flex;
	flex-wrap: nowrap;
	border: 2px;
	border-style: solid;
	border-color: black;
}

#gauche
{
    margin-right: 3%;
	background:#feca07;
	display: flex;
    flex-direction: column;
    align-content: center;
    width: 250px;
    height: 1000px;
}

.pimg
{
	text-align: center;
	margin-bottom: 
}

.img
{
	border-radius: 100%;
	width: 50%;
	margin-top: 15px;
}

.titregauche
{
	text-align: center;
	color: #feca07;
	background-color: grey;
	display: block;
	line-height: 30px;
	font-size: 18px;
}

#contenu
{
	height:100%;
	display: flex;
	flex-direction: column;
}

.name
{
	color: orange;
}



h1
{
	font-style: normal;
}

img
{
	border: 1px black solid;
	box-shadow: 0px 0px 2px black;
}

li
{
	font-size: smaller;
}

#ul
{
		list-style: none;
}





td
{
	background-color: grey;
	color: orange;
	width: 100px;
}

section
{
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
}