#cv
{
	font-family: arial;
	width: 850px;
	display: flex;
	flex-wrap: nowrap;
	border: 1px;
	border-style: solid;
	border-color: grey;
	height: 100vh;
}

#gauche
{
    margin-right: 3%;
	background:#feca07;
	display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
}

.photo
{
	text-align: center;
}

.img
{
	border-radius: 100%;
	width: 50%;
	margin-top: 15px;
	border: 1px black solid;
	box-shadow: 0px 0px 2px black;
}

.titregauche
{
	text-align: center;
	color: #feca07;
	background-color: #404040;
	display: block;
	line-height: 30px;
	font-size: 18px;
}

#contenu
{
	height: 100%;
	width: 65%;
	display: flex;
	flex-direction: column;
}

.name
{
	color: orange;
	margin-left: 25px;
}

.contact
{
	font-size: 11px;
	margin-left: 25px;
}

.aboutme
{
	font-size: 11px;
	margin-left: 25px;
}

#loisirs
{
	width: 100%;
	position: relative;
	margin-top: 200px;
}

.icon
{
	height: 20px;
}

#loisirs .loisiric
{
	display: flex;
	justify-content: space-between;
}

.loisiric
{
	margin-left: 8%;
	margin-right: 8%;
	font-size: 45px;
}

h1
{
	font-weight: normal;
	display: inline-block;
}

h2
{
	font-size: 20px;
}

.formation
{
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
}

.exppro
{
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
}

.recommendations
{
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
}


hr
{
	color: #feca07;
}

.date
{
	font-size: 0.7em;
}

.soulign
{
	text-decoration: underline;
	text-decoration-color: #feca07;
}

.dev
{
	margin-top: 1px;
	margin-left: 25px;
	font-size: 0.5em;
}

.reco
{
	line-height: 3px;
	display: flex;
	justify-content: space-between;
	margin-right: 10%;
}

.reconame
{
	font-weight: bold;
	font-size: 0.9em;
}

.recodir, .recotel
{
	font-weight: bold;
	font-size: 0.8em;
}

.recomail
{
	font-size: 0.9em;
}